In [199]:
import pandas as pd
import numpy as np
df = pd.read_csv('Predict.csv')

In [200]:
df.head(100)

,City,Center,Date,Year,Month,Season,PM1_0,PM2_5,PM10,Temperature_F,Humidity_%,AQI,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,Yangon,7 Miles Mayangone,10/20/2019 0:00,2019,October,Rainy Season,29.60,37.49,52.87,95.67,49.64,122.59,0,0,0,0
1,Yangon,7 Miles Mayangone,10/21/2019 0:00,2019,October,Rainy Season,25.22,35.84,45.21,94.42,51.67,105.90,0,0,0,0
2,Yangon,7 Miles Mayangone,10/22/2019 0:00,2019,October,Rainy Season,24.46,34.53,42.32,95.40,49.26,101.84,0,0,0,0
3,Yangon,7 Miles Mayangone,10/23/2019 0:00,2019,October,Rainy Season,23.42,56.55,41.37,96.39,48.06,98.17,0,0,0,0
4,Yangon,7 Miles Mayangone,10/24/2019 0:00,2019,October,Rainy Season,38.29,71.63,68.59,93.70,57.11,151.54,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Yangon,7 Miles Mayangone,1/23/2020 0:00,2020,January,Cool Season,18.81,33.18,37.14,91.02,33.93,85.07,0,0,0,0
96,Yangon,7 Miles Mayangone,1/24/2020 0:00,2020,January,Cool Season,21.87,32.50,44.20,89.91,34.88,95.33,0,0,0,0
97,Yangon,7 Miles Mayangone,1/25/2020 0:00,2020,January,Cool Season,21.41,33.16,43.09,86.04,31.69,93.90,0,0,0,0
98,Yangon,7 Miles Mayangone,1/26/2020 0:00,2020,January,Cool Season,21.90,34.38,43.64,85.95,32.82,95.29,0,0,0,0
99,Yangon,7 Miles Mayangone,1/27/2020 0:00,2020,January,Cool Season,22.61,33.47,45.60,84.80,34.39,97.85,0,0,0,0

In [201]:
df['Month'] = pd.DatetimeIndex(df['Date']).month
df

,City,Center,Date,Year,Month,Season,PM1_0,PM2_5,PM10,Temperature_F,Humidity_%,AQI,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,Yangon,7 Miles Mayangone,10/20/2019 0:00,2019,10,Rainy Season,29.60,37.49,52.87,95.67,49.64,122.59,0,0,0,0
1,Yangon,7 Miles Mayangone,10/21/2019 0:00,2019,10,Rainy Season,25.22,35.84,45.21,94.42,51.67,105.90,0,0,0,0
2,Yangon,7 Miles Mayangone,10/22/2019 0:00,2019,10,Rainy Season,24.46,34.53,42.32,95.40,49.26,101.84,0,0,0,0
3,Yangon,7 Miles Mayangone,10/23/2019 0:00,2019,10,Rainy Season,23.42,56.55,41.37,96.39,48.06,98.17,0,0,0,0
4,Yangon,7 Miles Mayangone,10/24/2019 0:00,2019,10,Rainy Season,38.29,71.63,68.59,93.70,57.11,151.54,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4528,Mandalay,Jefferson Center,10/26/2020 0:00,2020,10,Rainy Season,15.31,31.46,28.72,92.29,59.27,77.65,986,44774,29,1095
4529,Mandalay,Jefferson Center,10/27/2020 0:00,2020,10,Rainy Season,19.50,27.30,37.68,93.33,55.19,91.71,1426,46200,27,1122
4530,Mandalay,Jefferson Center,10/28/2020 0:00,2020,10,Rainy Season,17.36,24.34,31.57,94.07,54.33,82.97,1466,47666,25,1147
4531,Mandalay,Jefferson Center,10/29/2020 0:00,2020,10,Rainy Season,15.30,16.20,27.73,93.45,57.17,76.74,1406,49072,25,1172
4532,Mandalay,Jefferson Center,10/30/2020 0:00,2020,10,Rainy Season,10.18,17.10,18.90,92.64,52.21,59.62,1331,50403,27,1199

In [202]:
from datetime import datetime

df['Date'] = pd.to_datetime(df['Date'])

In [203]:
print(df.loc[[37]])

      City             Center       Date  Year  Month       Season  PM1_0  \
37  Yangon  7 Miles Mayangone 2019-11-26  2019     11  Cool Season   35.4

    PM2_5   PM10  Temperature_F  Humidity_%     AQI  New_cases  \
37  35.25  67.37          90.76       43.04  146.58          0

    Cumulative_cases  New_deaths  Cumulative_deaths
37                 0           0                  0

In [204]:
df.City = pd.Categorical(df.City)
c = df.City.astype('category')
print(dict(enumerate(c.cat.categories)))
df.City=df.City.cat.codes




df.Season = pd.Categorical(df.Season)
c = df.Season.astype('category')
print(dict(enumerate(c.cat.categories)))
df.Season=df.Season.cat.codes





df.Center = pd.Categorical(df.Center)
c = df.Center.astype('category')
print(dict(enumerate(c.cat.categories)))
df.Center=df.Center.cat.codes

{0: 'Mandalay', 1: 'Yangon'}
{0: 'Cool Season', 1: 'Hot Season', 2: 'Rainy Season'}
{0: '19th Street', 1: '7 Miles Mayangone', 2: 'Ahlone Myanmar Center for Responsible Business', 3: 'American Center', 4: 'Beca Myanmar (Outside)', 5: 'GEMS Condo', 6: 'Jefferson Center', 7: 'Star City Dulwich College', 8: 'Thin Gan Gyun Yangon International School (Outside)', 9: 'UNOPS Myanmar', 10: 'WWF-Myanmar', 11: 'YIS Grade 4 C (Inside)', 12: 'Yangon-HO'}

In [72]:
df.City.astype('category')

0       1
1       1
2       1
3       1
4       1
       ..
4528    0
4529    0
4530    0
4531    0
4532    0
Name: City, Length: 4533, dtype: category
Categories (2, int64): [0, 1]

In [73]:
df.dtypes

City                           int8
Center                         int8
Date                 datetime64[ns]
Year                          int64
Month                         int64
Season                         int8
PM1_0                       float64
PM2_5                       float64
PM10                        float64
Temperature_F               float64
Humidity_%                  float64
AQI                         float64
New_cases                     int64
Cumulative_cases              int64
New_deaths                    int64
Cumulative_deaths             int64
dtype: object

In [74]:
y=df['PM2_5']

In [75]:
X=df.drop(['PM2_5','PM1_0','PM10','AQI','Date','Year','New_cases','Cumulative_cases','New_deaths','Cumulative_deaths' ],axis=1)

In [76]:
type(X)

pandas.core.frame.DataFrame

In [77]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=1234)
X_train.shape, y_train.shape
X_train.shape, y_train.shape

((3626, 6), (3626,))

In [78]:
X.columns

Index(['City', 'Center', 'Month', 'Season', 'Temperature_F', 'Humidity_%'], dtype='object')

In [79]:
df

,City,Center,Date,Year,Month,Season,PM1_0,PM2_5,PM10,Temperature_F,Humidity_%,AQI,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,1,1,2019-10-20,2019,10,2,29.60,37.49,52.87,95.67,49.64,122.59,0,0,0,0
1,1,1,2019-10-21,2019,10,2,25.22,35.84,45.21,94.42,51.67,105.90,0,0,0,0
2,1,1,2019-10-22,2019,10,2,24.46,34.53,42.32,95.40,49.26,101.84,0,0,0,0
3,1,1,2019-10-23,2019,10,2,23.42,56.55,41.37,96.39,48.06,98.17,0,0,0,0
4,1,1,2019-10-24,2019,10,2,38.29,71.63,68.59,93.70,57.11,151.54,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4528,0,6,2020-10-26,2020,10,2,15.31,31.46,28.72,92.29,59.27,77.65,986,44774,29,1095
4529,0,6,2020-10-27,2020,10,2,19.50,27.30,37.68,93.33,55.19,91.71,1426,46200,27,1122
4530,0,6,2020-10-28,2020,10,2,17.36,24.34,31.57,94.07,54.33,82.97,1466,47666,25,1147
4531,0,6,2020-10-29,2020,10,2,15.30,16.20,27.73,93.45,57.17,76.74,1406,49072,25,1172
4532,0,6,2020-10-30,2020,10,2,10.18,17.10,18.90,92.64,52.21,59.62,1331,50403,27,1199

In [80]:
is_NaN = df.isnull()
row_has_NaN = is_NaN.any(axis=1)
df[row_has_NaN]

Empty DataFrame
Columns: [City, Center, Date, Year, Month, Season, PM1_0, PM2_5, PM10, Temperature_F, Humidity_%, AQI, New_cases, Cumulative_cases, New_deaths, Cumulative_deaths]
Index: []

In [81]:
from xgboost.sklearn import XGBRegressor

#Fitting XGB regressor 
model = XGBRegressor(n_estimators=200)

In [82]:
model.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=200, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [83]:
model_score = model.score(X_test, y_test)
model_score

0.8189965477668117

In [84]:
 #Predict 
print(X_test)
model_pred = model.predict(X_test)

      City  Center  Month  Season  Temperature_F  Humidity_%
545      1       2      4       1          98.69       43.54
2062     1       7      4       1          91.19       53.36
4093     0       0      8       2          99.02       46.20
2111     1       7      6       1          90.22       68.63
3657     1      11      7       2          91.19       53.36
...    ...     ...    ...     ...            ...         ...
2316     1       8     12       0          80.58       56.30
3406     1      11     10       2          91.19       53.36
3761     1      11     10       2          94.27       43.58
1603     1       5      1       0          88.75       34.48
4015     0       0      6       1          91.19       53.36

[907 rows x 6 columns]

In [85]:
from math import sqrt
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
print("Root mean squared error: %.2f"
      % sqrt(mean_squared_error(y_test, model_pred)))

Root mean squared error: 10.25

In [86]:
model.save_model('model.h5')

In [108]:
import joblib
joblib.dump(model, 'Model.sav')

['Model.sav']

In [87]:
d = pd.read_csv('DataSample.csv')

In [88]:
d.head(1)

,City,Center,Date,Year,Month,Season,PM1_0,PM2_5,PM10,Temperature_F,Humidity_%,AQI,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,Mandalay,19th Street,10/31/2020 0:00,2020.0,October,Rainy Season,24.17,NaN,38.6,92.28,55.02,97.16,1093.0,51496.0,20.0,1219.0

In [89]:
d['Month'] = pd.DatetimeIndex(d['Date']).month
d.head(10)

,City,Center,Date,Year,Month,Season,PM1_0,PM2_5,PM10,Temperature_F,Humidity_%,AQI,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,Mandalay,19th Street,10/31/2020 0:00,2020.0,10.0,Rainy Season,24.17,NaN,38.60,92.28,55.02,97.16,1093.0,51496.0,20.0,1219.0
1,Yangon,7 Miles Mayangone,10/31/2020 0:00,2020.0,10.0,Rainy Season,8.42,NaN,12.54,88.71,70.85,48.58,1093.0,51496.0,20.0,1219.0
2,Yangon,Ahlone Myanmar Center for Responsible Business,10/31/2020 0:00,2020.0,10.0,Rainy Season,10.10,NaN,15.08,89.14,61.14,54.36,1093.0,51496.0,20.0,1219.0
3,Yangon,American Center,10/31/2020 0:00,2020.0,10.0,Rainy Season,12.42,NaN,21.43,86.36,71.37,66.14,1093.0,51496.0,20.0,1219.0
4,Yangon,Beca Myanmar (Outside),10/31/2020 0:00,2020.0,10.0,Rainy Season,14.73,NaN,23.84,86.49,73.46,71.10,1093.0,51496.0,20.0,1219.0
5,Yangon,GEMS Condo,10/31/2020 0:00,2020.0,10.0,Rainy Season,11.79,NaN,18.06,87.88,62.92,60.97,1093.0,51496.0,20.0,1219.0
6,Mandalay,Jefferson Center,10/31/2020 0:00,2020.0,10.0,Rainy Season,10.97,NaN,20.28,90.08,59.51,61.52,1093.0,51496.0,20.0,1219.0
7,Yangon,Star City Dulwich College,10/31/2020 0:00,2020.0,10.0,Rainy Season,10.14,NaN,15.92,87.48,73.23,56.40,1093.0,51496.0,20.0,1219.0
8,Yangon,Thin Gan Gyun Yangon International School (Out...,4/16/2020 0:00,2020.0,4.0,Hot Season,32.37,NaN,44.70,97.09,44.57,115.48,11.0,85.0,0.0,4.0
9,Yangon,UNOPS Myanmar,10/31/2020 0:00,2020.0,10.0,Rainy Season,21.72,NaN,33.42,85.09,69.02,88.64,1093.0,51496.0,20.0,1219.0

In [90]:
d.City = pd.Categorical(d.City)
d.City=d.City.cat.codes
d.Season = pd.Categorical(d.Season)
d.Season=d.Season.cat.codes
d

,City,Center,Date,Year,Month,Season,PM1_0,PM2_5,PM10,Temperature_F,Humidity_%,AQI,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,0,19th Street,10/31/2020 0:00,2020.0,10.0,1,24.17,NaN,38.60,92.28,55.02,97.16,1093.0,51496.0,20.0,1219.0
1,1,7 Miles Mayangone,10/31/2020 0:00,2020.0,10.0,1,8.42,NaN,12.54,88.71,70.85,48.58,1093.0,51496.0,20.0,1219.0
2,1,Ahlone Myanmar Center for Responsible Business,10/31/2020 0:00,2020.0,10.0,1,10.10,NaN,15.08,89.14,61.14,54.36,1093.0,51496.0,20.0,1219.0
3,1,American Center,10/31/2020 0:00,2020.0,10.0,1,12.42,NaN,21.43,86.36,71.37,66.14,1093.0,51496.0,20.0,1219.0
4,1,Beca Myanmar (Outside),10/31/2020 0:00,2020.0,10.0,1,14.73,NaN,23.84,86.49,73.46,71.10,1093.0,51496.0,20.0,1219.0
5,1,GEMS Condo,10/31/2020 0:00,2020.0,10.0,1,11.79,NaN,18.06,87.88,62.92,60.97,1093.0,51496.0,20.0,1219.0
6,0,Jefferson Center,10/31/2020 0:00,2020.0,10.0,1,10.97,NaN,20.28,90.08,59.51,61.52,1093.0,51496.0,20.0,1219.0
7,1,Star City Dulwich College,10/31/2020 0:00,2020.0,10.0,1,10.14,NaN,15.92,87.48,73.23,56.40,1093.0,51496.0,20.0,1219.0
8,1,Thin Gan Gyun Yangon International School (Out...,4/16/2020 0:00,2020.0,4.0,0,32.37,NaN,44.70,97.09,44.57,115.48,11.0,85.0,0.0,4.0
9,1,UNOPS Myanmar,10/31/2020 0:00,2020.0,10.0,1,21.72,NaN,33.42,85.09,69.02,88.64,1093.0,51496.0,20.0,1219.0
10,1,WWF-Myanmar,10/31/2020 0:00,2020.0,10.0,1,14.41,NaN,22.53,85.70,70.89,68.75,1093.0,51496.0,20.0,1219.0
11,1,Yangon-HO,10/31/2020 0:00,2020.0,10.0,1,15.64,NaN,25.99,85.09,70.11,75.71,1093.0,51496.0,20.0,1219.0
12,1,YIS Grade 4 C (Inside),10/31/2020 0:00,2020.0,10.0,1,11.69,NaN,16.64,94.60,49.56,58.65,1093.0,51496.0,20.0,1219.0
13,-1,NaN,NaN,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,-1,NaN,NaN,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,-1,NaN,NaN,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,-1,NaN,NaN,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,-1,NaN,NaN,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
test=df.drop(['PM2_5','PM1_0','PM10','AQI','Date','Year','New_cases','Cumulative_cases','New_deaths','Cumulative_deaths' ],axis=1)
type(test)

pandas.core.frame.DataFrame

In [98]:
X.columns

Index(['City', 'Center', 'Month', 'Season', 'Temperature_F', 'Humidity_%'], dtype='object')

In [99]:
model.predict(test)

array([37.66583 , 35.186172, 32.928448, ..., 23.637175, 21.830837,
       21.857033], dtype=float32)